
/* config de la page web */
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    min-width: 640px;
    display: flex;
    
    
}

/*config des titres */
h1{
    font-size: 3.5vw;
    margin: 0 15px 0 0;
}

h2{
    background-color: #424242;
    color: #80DEEA;
    font-size: 1.4ew;
    padding: 5px;
}

h3{
    font-size: 2em;
    margin: 4px 0 4% 0;
   
}
h4{
    font-size: 0.9em;
    margin: 0;
}

h5{
    font-size: 1.2em;
    margin: 0;
}

h6{
    font-size: 0.9em;
    margin: 3px;
}


ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
ul li::before{
    content: "\2022";
    color: #80DEEA;
    display: inline-block; 
    width: 2em; 
}

article:nth-child(2){
    flex-grow: 2;
}
/*colone profile cv */
#conteneurA{
    height: 100%;
    min-width: 200px;
    max-width: 500px;
    display: flex;
    font-size: 1.2em;
    flex-direction: column;
    justify-content: space-between;
    background-color:#80DEEA;
    color: #424242;
    text-align:center;
}

a
{
color:#424242;
text-decoration: none;
}
a:hover{
    opacity: 0.6;
    
}


#photoId{
    width: 65%;
}

/* contact */
#contact{
    text-align: left;
    margin: 10%;
}
href
/*a propos de moi*/
#texteIntro{
    margin: 10%;
    font-size: 1.2em;
    
}
/*loisirs*/
#loisiricones{
    display: flex;
    justify-content: space-around;
}
.fas{
    color: #424242;
    font-size: 3vw;
    
    
    padding-bottom: 20px;
    
  }

article{
    margin: 10px;
    
}

/*colone blanche cv*/
#conteneurB{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

header{
    display: flex;
    flex-wrap: wrap;
    margin: 7% 0;
}

#prenom{
    color: #80DEEA;
}
#ProfessionTitre{
    font-size: 2.5vw;
}
#develo{
    border-bottom: 2PX #80DEEA solid;
    
    
}
.souligne{
    border-bottom: 3PX #80DEEA solid;
    padding-bottom: 2px;

    
}

.element{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.titreElement{
    width: 20%;
    min-width: 70px;
    overflow: hidden;
}

/*--icones--*/
.fa-laptop-code{
    color: #80DEEA;
    font-size: 1.5em;
    margin: 0 15px 0 5px;
    padding-bottom: 0px;
}

.fa-graduation-cap{
    color: #80DEEA;
    font-size: 1.5em;
    margin: 0 15px 0 5px;
    padding-bottom: 0px;
}

.fa-briefcase{
    color: #80DEEA;
    font-size: 1.5em;
    margin: 0 15px 0 5px;
    padding-bottom: 0px;
}

.fa-dot-circle{
    margin-right: 10px;
    color: #80DEEA;
    
}

.fa-circle{
    margin-right: 10px;
    color: #80DEEA;
    font-size: 0.8em;
}