@font-face{
    font-family:"Eurostile";
    src: url("Eurostile.ttf");
}

body{
    font: 1em "Eurostile";
}
header{
    position:absolute;
    padding: 10px;
    right: 0;
    
}

nav{
    font-style: center;
    position: relative;
    width: 25%;
    background-color:#4DB6AC;
    text-align:center;
}
#photoId{
    width: 80%;
    padding: 10%;
}
#prenom{
    color: #4DB6AC;
}

h3{
    background-color: white;
    color: #4DB6AC;
}