
/* config de la page web */
body{
    margin: 0px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    
}
main{
    display: flex;
    background-color: white;
    
}

.asidetitle{
    width: 100px;
}

@media screen and (max-width: 766px)
{
    body{
        margin: 0px;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        }
    main{
        flex-direction: column;
        width: 100vw;
        font-size: 0.8em;
    }

    #conteneurA{
        min-height:100vh;
        justify-content: space-between;
    }
    
    #headaside{
        text-align: center;
        }
    h1{
        font-size: 5vw;
    }
    h2{
        color: white;
        font-size: 4vw;
    }


    #photoId{
        width: 40vw;
        margin-top: 2vw;
    }

    figure{
        margin: 0px;
    }
    
    #headarticle{
        display: none;
    }
    

}
@media screen and (min-width: 767px) 
{
    body{
        display: flex;
        justify-content: center;
    }
    main{
        min-height: 100vh;
        width: calc(100vh * 0.7071);
    }

    #headaside{
        display: none;
        }

    h1{
        font-size: 2em;
    }
    

    #conteneurA{
        width: 32%;
    }


    header{
        margin: 5px 0;
    }
    
    #photoId{
        width: 90%;
    }
    figure{
        
        margin: 10px;
    }
}


.asidetitle{
    background-color: #424242;
    color: #80DEEA;
    font-size: 1em;
    padding: 5px 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

#sectionP{
    margin: 20px;

    
}



h2{
    margin: 0 0 4% 0;
}

h3{
    font-size: 1em;
    margin: 10px 0;

}
h4{
    font-size: 0.8em;
    margin: 0;
}

h5{
    font-size: 0.8em;
    margin: 0;
}

h6{
    font-size: 1em;
    margin: 3px;
}
p{
    margin: 10px;
}
.pBold{
    font-weight: bold;
    margin-bottom: 0;
}
ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
ul li::before{
    content: "\2022";
    color: #80DEEA;
    display: inline-block; 
    width: 1em;
    
}
li{
    font-size: 0.8em;
}

article:nth-child(2){
    flex-grow: 2;
}
/*colone profile cv */
figure{
    text-align: center;
}
#conteneurA{
    display: flex;
    flex-direction: column;
    background-color:#80DEEA;
    color: #424242;
}


a{
color:#424242;
text-decoration: none;
}
a:hover{
    opacity: 0.6;
}


#detail{
    flex: 1;
    text-align: justify;
}


/*loisirs*/

#loisiricones{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.fas{
    color: #424242;
    font-size: 1.5em;

}



/*colone blanche cv*/

#prenom{
    color: #80DEEA;
}
#ProfessionTitre{
    font-size: 1.3em;
}
#develo{
    border-bottom: 2PX #80DEEA solid;
    
    
}
.souligne{
    border-bottom: 3PX #80DEEA solid;
    padding-bottom: 2px;

    
}

.element{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.titreElement{
    width: 20%;
    min-width: 70px;
    overflow: hidden;
}

/*--icones--*/

.fa-laptop-code{
    color: #80DEEA;
    font-size: 1.5em;
    margin: 0 15px 0 5px;
    padding-bottom: 0px;
}

.fa-graduation-cap{
    color: #80DEEA;
    font-size: 1.5em;
    margin: 0 15px 0 5px;
    padding-bottom: 0px;
}

.fa-briefcase{
    color: #80DEEA;
    font-size: 1.5em;
    margin: 0 15px 0 5px;
    padding-bottom: 0px;
}

.fa-dot-circle{
    margin-right: 10px;
    color: #80DEEA;
    font-size: 0.6em;
}

.fa-circle{
    margin-right: 10px;
    color: #80DEEA;
    font-size: 0.6em;
}

